<nav id="main-nav">
    <ul class="navbar-nav mr-auto ml-2">
        <li class="nav-item active">
            {# fonction symfony intégrer à twig pour créer des liens #}
            <a href="{{ path('default_home', {name : 'Khun'}) }}"><i class="fa fa-home me-2"></i>accueil</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('default_contact') }}"><i class="fa fa-book me-2"></i>Contact</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('default_contact_us') }}"><i class="fa fa-book me-2"></i>Contactez-nous</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('default_new_user') }}"><i class="fa fa-book me-2"></i>Enregistrez-vous</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('send_mail') }}"><i class="fa fa-book me-2"></i>Test d'email</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('client') }}"><i class="fa fa-book me-2"></i>Liste clients</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('produit') }}"><i class="fa fa-book me-2"></i>Liste produits</a>
        </li>
    </ul>
</nav>