{% extends 'base.html.twig' %}

{% block body %}
    <h2>Enregistrez-vous</h2>
{#    enctype est nécessaire pour l'envoi de fichier #}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label" for="lastName">Nom : </label>
            {{ form_widget(form.lastName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.firstName)}}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_row(form.birthDate) }}
        </div>
        <div class="form-group">
            <label class="form-label" for="title">Titre : </label>
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="file">Sélectionner un fichier : </label>
            {{ form_widget(form.file) }}
        </div>
        <div class="form-group">
            <label class="form-label mt-2" for="condition">Accepter les conditions générales : </label>
            {{ form_widget(form.condition) }}
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary " type="submit" name="submit" id="submit"><i class="fa fa-plane"></i> Envoyer</button>
        </div>
    </form>
{% endblock %}

{% block title %}
    Enregistrez-vous
{% endblock %}

