{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% set keyword = app.request.get('keyword') %}
{% set offset = app.request.get('offset') %}

{% block body %}
    <div>

        <a class="btn btn-dark mb-2 orange" href="{{ path('commande_add') }}">Nouveau</a>
        <form method="POST">
            {{form_widget(form._token)}}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.reference) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.client) }}
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.startAt) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.endAt) }}
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_row(form.etats) }}
                </div>

            </div>

            <div class="form-check mt-2 mb-5">
                <a href="/commande" class="btn btn-close-default" type="reset">Reset
                    <i class="fas fa-undo"></i></a>
                <button class="btn btn-dark">Rechercher</button>
            </div>




        </form >
    </div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Réference</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Etat</th>
            <th scope="col">Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.reference }}</td>
                <td>{{ commande.creationdate | date("Y-m-d") }}</td>
                <td>{{ commande.client }}</td>
                <td>{{ commande.etat.nom }}</td>
                <td><a class="btn btn-sm btn-success" href="{{ path('commande_update',{id: commande.id} ) }}" ><i class="fa fa-edit"></i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</div>