{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% set keyword = app.request.get('keyword') %}
{% set offset = app.request.get('offset') %}

{% block body %}
    <div>

        <a class="btn btn-dark mb-2" href="{{ path('client_add') }}">Nouveau</a>

        <form method="get">
            <input name="keyword" value="{{ keyword }}">
            <button class="btn btn-info">Chercher</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Réference</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Modifier</th>
                </tr>
            </thead>
            <tbody>
                {% for client in tableauClients %}
                    <tr>
                        <td>{{ client.reference }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.prenom }}</td>
                        <td><a class="btn btn-sm btn-danger" href="{{ path('client_delete',{id: client.id} ) }}" data-bs-toggle="modal" data-bs-target="#my-modal"><i class="fa fa-trash"></i></a></td>
                        <td><a class="btn btn-sm btn-success" href="{{ path('client_update',{id: client.id} ) }}" ><i class="fa fa-edit"></i></a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if total > 2 %}
        <nav aria-label="Page navigation example" style = "padding-top: 300px; display: flex; justify-content: center">
            <ul class="pagination" >
            {% for i in range(1, (total/2) | round(0, 'ceil'))  %}
                {% if offset != (i-1)* 2 %}
                <li class="page-item" >
                    <a style="color: black" class="page-link" href="{{ path('client', {'offset': (i-1)* 2, 'keyword': keyword }) }}">{{ i }}</a>
                </li>
                {% else  %}
                    <li class="page-item active" >
                        <span style="color: black" class="page-link" href="">{{ i }}</span>
                    </li>
                {% endif %}
                </li>
            {% endfor %}
            </ul>

        </nav>
        {% endif %}
        <div data-controller="confirm"></div>
        <div class="modal" id="my-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="-close" data-bs-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button  data-bs-dismiss="modal" class="btn btn-light">Annuler</button>
                        <button id="confirm-button" class="btn btn-danger">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
